<div class="row">
    <div class="el">id</div>
    <div class="el">obraz</div>
    <div class="el">name</div>
    <div class="el">size</div>
    <div class="el">type</div>
    <div class="el">-</div>
    <div class="el">-</div>
    <div class="el">-</div>
</div>