<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>filemanager</title>
</head>

<body>
    <div id="navbar">
        <div class="navItem">
            <a href="/upload">upload</a>
        </div>
        <div class="navItem">
            <a href="/filemanager">filemanager</a>
        </div>
        <div class="navItem">
            <a href="/info">info</a>
        </div>
    </div>
    {{{body}}}
</body>

</html>