*{
    font-family: DejaVu Sans Mono, monospace;
}

body{
    margin: 0;
}

#navbar{
    background-color: blue;
    display: flex;
}

.navItem{
    padding: 15px 10px 20px 10px;
}

.navItem:first-child{
    margin-left: 50px;
}

.navItem a{
    color: white;
}

.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content{
    min-height: 100vh;
    align-items: stretch;
}

#left{
    width: 20vw;
    color: gray;
    background-color: lightgray;
    justify-content: flex-start;
}

#right{
    width: 80vw;
    align-items: flex-start;
    justify-content: flex-start;
}

#right > form{
    width: 100%;
    padding: 60px;
}

#right > form > *{
    font-size: 18px;
}
#right > form > button{
    width: 150px;
}

#left > a{
    color: red;
    text-align: center;
    font-weight: bold;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.el{
    width: 9vw;
    word-wrap: break-word;
    color: blue;
    padding: 0.5vw;
    font-size: 20px;
}

.el >a{
    color: red;
}

.iEl{
    padding: 10px;
    font-weight: bold;
}

.iEl>span{
    color: blue;
    font-size: 22px;
}

.iEl>span>span{
    border-bottom: 1px solid blue;
}

.el > img{
    height: 60px;
}